/* ===== MAIN MENU TOP RIGHT ===== */

#main-menu-pane {
  position: absolute;
  top: 30px;
  right: 40px;

  display: flex !important;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;

  text-align: right;
}

#main-menu-pane h4 {
  margin: 0 !important;
}

#main-menu-pane .menu-item {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.4px;
}